ACTION=="change", SUBSYSTEM=="block", KERNEL=="sr[0-9]*", ENV{ID_CDROM}=="1", ENV{ID_CDROM_MEDIA}=="1", RUN+="/usr/local/bin/jack-udev udev-event --device %E{DEVNAME}"
