ACTION=="change", SUBSYSTEM=="block", KERNEL=="sr[0-9]*", ENV{ID_CDROM}=="1", ENV{ID_CDROM_MEDIA_STATE}!="blank", RUN+="/opt/jack/jack-udev udev-event --device %E{DEVNAME}"
